{% extends 'store/base.html' %} 
{% load static %} 
{% block title %}
 Home Page 
{% endblock title %} 
{% block content %}

<br>

<div class="row ml-2">
  <div class="col-lg-2">
    <a href="{% url 'home' %}" class="ml-3 btn active btn-info">Go Back</a>
  </div>

  <div class="col-lg-7 d-flex justify-content-around">
    <!-- filter by category -->
    <a href="/" class="btn btn-info">All Products</a>
    {% for category in categories %}
      <a href="/?category_name={{ category.name }}" class="btn btn-info">{{category}}</a>
    {% endfor %}
  </div>

</div>

<div class="row m-3">
  
    <div class="col-lg-2">
      <!-- filter by price -->
      <div class="list-group"><strong>Filter by price</strong>
      {% if request.get_full_path == "/" %}
        <a id="filter__l2h" href="{{ request.get_full_path }}?price=l2h" class="mt-2 list-group-item list-group-item-action">Low To High</a>
        <a id="filter__h2l" href="{{ request.get_full_path }}?price=h2l" class="list-group-item list-group-item-action">High To Low</a>
      {% else %}
        <a id="filter__l2h" href="{{ request.get_full_path }}&price=l2h" class="mt-2 list-group-item list-group-item-action">Low To High</a>
        <a id="filter__h2l" href="{{ request.get_full_path }}&price=h2l" class="list-group-item list-group-item-action">High To Low</a>
      {% endif %}
      
        
      </div>
    </div>

  <!-- products -->
  <div class="product__display col-lg-10 p-0 m-0">
    <div class="to_remove container-fluid p-0 m-0">
      <div class="row mx-auto">
        {% for product in products %}
          <div class="card shadow p-3 mb-5 bg-white rounded mx-auto mb-3" style="width: 18rem;">
            <img src="{{product.image.url}}" class="card-img-top" alt="..." style="width: 100%; height: 20rem;">
            <div class="card-body">
              <h5 class="card-title">{{product.name}}</h5>
              <p class="card-text" style="width: 100%; height: 4rem;">{{product.price}} <br> {{product.description}} </p>
            </div>
            <a href="#" class="btn btn-outline-secondary btn-lg">Add to Cart</a>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

</div>




{% endblock content %}
