{% extends 'store/base.html' %} 
{% load static %} 
{% block title %}
 Home Page 
{% endblock title %} 
{% block content %}
<br>
<a href="{% url 'home' %}" class="ml-3 btn active btn-info">Go Back</a>
<br>

<div class="row container-fluid">
    <div class="col-md">
        <div class="card card-body">
            <h5>Products</h5>
        </div>
        <div class="card card-body">
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                <caption>List of products</caption>
                    <thead class="thead-light">
                        <tr>
                            <th>Product</th>
                            <th>Category</th>
                            <th>Price</th>
                            <th>Description</th>
                            <th>Image</th>
                        </tr>
                    </thead>
                    {% for product in products %}
                        <tr>
                            <td>{{ product.name }}</td>
                            <td>{{ product.price }}</td>
                            <td>{{ product.category }}</td>
                            <td>{{ product.description }}</td>
                            <td>{{ product.image.url }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
