{% extends 'store/base.html' %} 
{% load static %} 
{% block title %}
 Home Page 
{% endblock title %} 
{% block content %}

<br>

<div class="row ml-2">
  <div class="col-lg-2 border border-danger">

    <div class="wrapper">
      <!-- Sidebar -->
    <nav id="sidebar">

        <div id="dismiss">
            <i class="fas fa-arrow-left"></i>
        </div>

        <div class="sidebar-header">
            <h3>Bootstrap Sidebar</h3>
        </div>

        <ul class="list-unstyled components">
            <p>Dummy Heading</p>
            <li class="active">
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">Home</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li>
                        <a href="#">Home 1</a>
                    </li>
                    <li>
                        <a href="#">Home 2</a>
                    </li>
                    <li>
                        <a href="#">Home 3</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">About</a>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">Pages</a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li>
                        <a href="#">Page 1</a>
                    </li>
                    <li>
                        <a href="#">Page 2</a>
                    </li>
                    <li>
                        <a href="#">Page 3</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">Portfolio</a>
            </li>
            <li>
                <a href="#">Contact</a>
            </li>
        </ul>
    </nav>

    <!-- Page Content -->
    <div id="content">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">

                <button type="button" id="sidebarCollapse" class="btn btn-info">
                    <i class="fas fa-align-left"></i>
                    <span>Toggle Sidebar</span>
                </button>
            </div>
        </nav>
    </div>
    <!-- Dark Overlay element -->
    <div class="overlay"></div>
    </div>

  </div>

  <div class="col-lg-10">
    <a href="{% url 'home' %}" class="btn active btn-info">Go Back</a>
  </div>

  {% comment %} <div class="col-lg-7 d-flex justify-content-around">
    <!-- filter by category -->
    <a href="/" class="btn btn-info">All Products</a>
    {% for category in categories %}
      <a href="/?category_name={{ category.name }}" class="btn btn-info">{{category}}</a>
    {% endfor %}
  </div> {% endcomment %}

</div>

<div class="row m-3">
  
    <div class="col-lg-2">
      <div class="list-group"><strong>Filter by price</strong>
        <a id="filter__l2h" href="#" class="mt-2 list-group-item list-group-item-action">Low To High</a>
        <a id="filter__h2l" href="#" class="list-group-item list-group-item-action">High To Low</a>
      </div>
    </div>

  <!-- products -->
    <div class="product__body col-lg-10 p-0 m-0">
      <div class="row mx-auto">
        {% for product in products %}
          <div class="card shadow p-3 mb-5 bg-white rounded mx-auto" style="width: 18rem;">
            <img src="{{product.image.url}}" class="card-img-top" alt="..." style="width: 100%; height: 20rem;"/>
            <div class="card-body">
              <h5 class="card-title">{{product.name}}</h5>
              <p class="card-text" style="width: 100%; height: 4rem;">{{product.price}} <br> {{product.description}} </p>
            </div>
            <a href="#" class="btn btn-outline-secondary btn-lg">Add to Cart</a>
          </div>
        {% endfor %}
      </div>
    </div>

</div>




{% endblock content %}
