{% extends 'store/base.html' %}

{% block title %} 
    EShop | SignUp
{% endblock title %}

{% block content %}
    <div class="d-flex flex-column mx-auto">
        <div class="card-title mx-auto m-3 pl-2 pr-2 pt-1 bg-danger rounded text-white">
            <h4 style="font-size: 16px;">Welcome To EShop</h4>
        </div>

        <div class="card mx-auto" style="width: 25rem;">
            <div class="card-body">
                <h3 class="card-title">Create Account</h3>
                
                <form>
                    <label class="ap_customer_uname_label" for="ap_customer_uname" class="p-0 m-0" style="font-size: 14px;">Your Username</label>
                    <input class="ap_customer_uname" tabindex="1" autocomplete="username" type="text" maxlength="50" required id="ap_customer_uname"/>
                    
                    <label class="ap_email_label" for="ap_email" style="font-size: 14px;">Email</label>
                    <input class="ap_email" tabindex="2" autocomplete="email" type="email" maxlength="64" required id="ap_email"/>
                    
                    <label class="ap_password1_label" for="ap_password1" style="font-size: 14px;">Password</label>
                    <input class="ap_password1" tabindex="3" autocomplete="off" type="password" maxlength="1024" required id="ap_password1" placeholder="At least 8 characters"/>
                    
                    <label class="ap_password2_label" for="ap_password2" style="font-size: 14px;">Confirm Password</label>
                    <input class="ap_password2" tabindex="4" autocomplete="off" type="password" maxlength="1024" required id="ap_password2"/>

                    <p class="alert__content">
                        We will send you a mail to verify your email.<br>
                        click on the button to verify account.
                    </p>

                    <input type="submit" id="continue" tabindex="5" class="a-button-input" value="Continue">
                </form> 

                <hr class="gradient__card mx-auto">

                <div class="signup__text">Already have an account?
                    <a href="" class="singup__link">Sign in</a>
                </div>

            </div>
        </div>
    </div>

    <hr class="gradient__hr mx-auto">
{% endblock content %}
