* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ap_customer_uname_label {
    font-size: 14px;
    margin: 0;
    padding: 0;
    font-weight: 600;
}

.ap_customer_uname {
    height: 30px;
    width: 100%;
    margin-top: 4px;
    border-radius: 5px;
}

.ap_customer_uname:focus {
    box-shadow: 0px 0px 5px 2px #f09f26;
    outline-color: #c97800;
    outline-width: thin;
}